{% extends 'base_categories.html' %}

{% block content %}

<br>
<br>
<br>
<br>


<div class="products">

		<div class="container mt-5">

			<div class="row">

				<div class="col">

					<div class="product_grid">

						<!-- Product -->
{% for i in product %}
						<div class="product">

							<div class="product_image"><img src='{{i.image.url}}' alt=""></div>
							<!--<div class="product_extra product_new"><a href="categories.html">{{i.category}}</a></div>-->
							<div class="product_content">
								<div class="product_title"><a href="{% url 'detail' i.pk %}">{{i.title}}</a></div>
								<div class="product_price">{{i.price}}.00тг</div>


							</div>

						</div>
{% endfor %}
				</div>

			</div>

		</div>

	</div>
</div>
{% endblock content %}